<h2 class="font-custom display-4 mb-5 mt-5 text-center text-md-left" [@moveIn] style="font-size: 20px; color: #4f347c;">Here you can read the blogs of some iconic innings played in Cricket</h2>


<div style="margin-top: 8px; margin-bottom: 16px;">
  <mat-accordion>
    <mat-expansion-panel>
      <!-- for collapsing-->
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="d-flex justify-content-between align-items-center">
            <span style="font-size: 18px; font-weight: 500;">Very Very Special 281: A Masterclass in Resilience and Grace</span>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-blog1></app-blog1>     <!-- this is selector of blog1 component -->
    </mat-expansion-panel>
  </mat-accordion>
  </div>

<div style="margin-top: 8px; margin-bottom: 16px;">
  <mat-accordion>
    <mat-expansion-panel>
      <!-- for collapsing-->
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span style="font-size: 18px; font-weight: 500;">Heroic 153*: Defying the Odds and Writing Cricketing History</span>
          <!-- <span class="badge badge-pill badge-danger ml-2">New</span> -->
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-blog2></app-blog2>     <!-- this is selector of blog2 component -->
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div style="margin-top: 8px; margin-bottom: 16px;">
  <mat-accordion>
    <mat-expansion-panel>
      <!-- for collapsing-->
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span style="font-size: 18px; font-weight: 500;">The Magical Spell: The Ashes Redemption of 2005</span>
          <!-- <span class="badge badge-pill badge-danger ml-2">New</span> -->
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-blog3></app-blog3>     <!-- this is selector of blog3 component -->
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div style="margin-top: 8px; margin-bottom: 16px;">
  <mat-accordion>
    <mat-expansion-panel>
      <!-- for collapsing-->
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span style="font-size: 18px; font-weight: 500;">Explosive 149: The Knock That Defined an Era</span>
          <!-- <span class="badge badge-pill badge-danger ml-2">New</span> -->
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-blog4></app-blog4>     <!-- this is selector of blog4 component -->
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div style="margin-top: 8px; margin-bottom: 16px;">
  <mat-accordion>
    <mat-expansion-panel>
      <!-- for collapsing-->
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span style="font-size: 18px; font-weight: 500;">The Unforgettable 175: The Catalyst of a Record-Breaking Chase</span>
          <!-- <span class="badge badge-pill badge-danger ml-2">New</span> -->
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-blog5></app-blog5>     <!-- this is selector of blog5 component -->
    </mat-expansion-panel>
  </mat-accordion>
</div>












