<style>
  .text-justify {
    text-align: justify;
  }
</style>
<div class="lead text-justify mx-3 mt-4">
  
    
      <h2>Connect with Us</h2>
      <p>Explore iconic cricketing moments with Chronicles Cricket on our social media platforms. Follow us on Twitter for a curated collection of legendary innings, insightful commentary, and historical perspectives. On Instagram, discover stunning visuals and memorable snapshots from some of cricket's greatest matches. Subscribe to our YouTube channel to relive the magic of iconic innings through exclusive videos and player retrospectives. Join us on social media to celebrate the timeless brilliance of cricket's most memorable moments.</p>

  <div class="row justify-content-center mt-4">
    <div class="col-md-4 col-sm-12 text-center mb-3">
      <a href="https://youtube.com/@chroniclescricket?si=z9lugG4lYIbSIRuT" target="_blank" class="text-decoration-none text-youtube"><i class="fab fa-youtube fa-3x"></i>
      </a>
    </div>
    <div class="col-md-4 col-sm-12 text-center mb-3">
      <a href="https://www.instagram.com/chroniclescricket?igsh=MWdqMGF5c2x4NHZwMg==" target="_blank" class="text-decoration-none text-instagram"><i class="fab fa-instagram fa-3x"></i>
      </a>
    </div>
    <div class="col-md-4 col-sm-12 text-center mb-3">
      <a href="https://x.com/chrnclescricket?t=gZPOinjtRqiNMsdPKU6idg&s=09" target="_blank" class="text-decoration-none"><i class="fab fa-twitter fa-3x"></i>
      </a>
    </div>
  </div>
</div>




