<app-navbar></app-navbar>
<router-outlet></router-outlet>



<footer class="footer bg-dark text-white py-4 mt-5">
  <div class="container text-center">
    <div class="row">
      <div class="col-lg-4 mb-3 mb-lg-0">
        <h5 class="mb-3">Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="/home">Home</a></li>
          <li><a href="/live-matches">Live Matches</a></li>
          <li><a href="/blogs">Blogs</a></li>
          <li><a href="/connect">Connect</a></li>
          <li><a href="/about">About Us</a></li>
        </ul>
      </div>
      <div class="col-lg-4 mb-3 mb-lg-0">
        <h5 class="mb-3">Contact Us</h5>
        <p>Email: chroniclescricket4u@gmail.com</p>

      </div>
      <div class="col-lg-4">
        <h5 class="mb-3">Follow Us</h5>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="https://youtube.com/@chroniclescricket?si=z9lugG4lYIbSIRuT" target="_blank" class="text-white"><i class="fab fa-youtube"> YouTube</i></a></li>
          <li class="list-inline-item"><a href="https://www.instagram.com/chroniclescricket?igsh=MWdqMGF5c2x4NHZwMg==" target="_blank" class="text-white"><i class="fab fa-instagram"> Instagram</i></a></li>
          <li class="list-inline-item"><a href="https://x.com/chrnclescricket?t=gZPOinjtRqiNMsdPKU6idg&s=09" target="_blank" class="text-white"><i class="fab fa-twitter"> Twitter</i></a></li>

        </ul>
      </div>
    </div>

  </div>
</footer>



<footer class="footer mt-auto py-3 bg-dark text-white">
  <div class="container text-center">
    <span>&copy; 2024 Chronicles Cricket</span>
  </div>
</footer>


